
    <!DOCTYPE html> 
    <html lang="en">
      <head>
        <title> Update Product </title>
        <link rel='stylesheet', href='/stylesheets/style.css'>
      </head>
      <body>
        <form action="/user/updateproduct" method="POST">
          <div >
              <label  name="nameproduct" value=<%= product.productname %>> <%= product.productname %></label>
              <label for="nameproduct"> Name Product</label>
          </div>
          <div>
              <input type="text" name="quantity" value =<%= product.productquantity %> required>
              <label for ="quantity">Quantity </label> 
          </div>
          <div>
            <input type="text" name="price" value = <%= product.productprice %> required>
            <label for ="price">Price </label>
        </div> 
         <div>
            <input type="text" name="description" value=<%= product.productdescription %> required>
            <label for ="description">Description </label>
        </div>

          <button class="btn">Update</button>
      </form> 
      </body>
        </html>
